<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static\styles.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <iframe class="red-box" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1327677326023!2d100.49623931426855!3d7.04618961771307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304f276e1f848e1d%3A0xa5d1f88c121ae768!2sHat%20Yai%20District%2C%20Hat%20Yai%2C%20Songkhla%2090000%2C%20Thailand!5e0!3m2!1sen!2sus!4v1644513681845"></iframe>
    </div>
      
</body>
</html>
  